<?xml version="1.0"?>

<model>
  <name>ArUco 056/255</name>
  <version>1.0</version>
  <sdf version="1.5">ar_056.sdf</sdf>

  <author>
    <name>Optional: Tomasz Kasprzyk</name>
    <email>Optional: kasptom@gmail.com</email>
  </author>

  <description>
    An ArUco code 56th of 255
  </description>

</model>