<launch>
    <arg name="model" default="$(find topnav_bot_description)/urdf/capo.urdf.xacro"/>
    <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz"/>

    <include file="$(find topnav_gazebo)/launch/gazebo.launch">
        <arg name="model" value="$(arg model)"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>

    <rosparam command="load"
              file="$(find topnav_bot_description)/config/joints.yaml"
              ns="capo_joint_state_controller"/>
    <rosparam command="load"
              file="$(find topnav_bot_description)/config/diffdrive.yaml"
              ns="capo_diff_drive_controller"/>

    <node name="capo_controller_spawner" pkg="controller_manager" type="spawner"
          args="capo_joint_state_controller
          capo_diff_drive_controller
          --shutdown-timeout 3"/>

    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/capo_diff_drive_controller/cmd_vel"/>
    </node>
</launch>
