<launch>

    <!--<include file="$(find topnav_capo2)/launch/opencv_videostream.launch"/>-->
    <!-- Obsolete: use opencv_videostream -->
    <include file="$(find topnav_capo2)/launch/camera.launch" />

    <node name="capo2_controller"
          pkg="topnav_capo2"
          type="capo2_controller.py"
          respawn="false" output="screen"/>


    <group ns="capo/laser">
        <include file="$(find topnav_capo2)/launch/hokuyo.launch">
            <arg name="serial_port" value="/dev/ttyACM2"/>
        </include>
    </group>

    <!--<include file="$(find topnav_capo2)/launch/aruco_detector_no_preview.launch"/>-->
</launch>
