<launch>
    <node name="capo_laser_scan_transceiver" pkg="topnav_gazebo" type="capo_laser_scan_transceiver"/>
    <node name="aruco_detector" pkg="topnav_aruco_detection" type="aruco_detector" args="none $(find topnav_capo2)/launch/aruco_sizes_capo2.txt true"/>
    <node name="capo2_clock"
          pkg="topnav_capo2"
          type="capo2_clock.py"
          respawn="false" output="screen">
        <param name="clock_publish_rate_hz" value="10"/>
    </node>
</launch>
