<launch>
    <arg name="use_real_camera" default="false" />
    <arg name="model" default="$(find topnav_bot_description)/urdf/capo2/capo2.urdf.xacro"/>
    <arg name="world" default="worlds/empty.world"/>
    <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz"/>
    <arg name="capo_x" default="0.0"/>
    <arg name="capo_y" default="0.0"/>
    <arg name="capo_z" default="0.2"/>
    <arg name="capo_yaw_rads" default="0.0"/>

    <include file="$(find topnav_gazebo)/launch/gazebo.launch">
        <arg name="model" value="$(arg model)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="capo_x" value="$(arg capo_x)"/>
        <arg name="capo_y" value="$(arg capo_y)"/>
        <arg name="capo_z" value="$(arg capo_z)"/>
        <arg name="use_real_camera" value="$(arg use_real_camera)"/>
        <arg name="capo_yaw_rads" value="$(arg capo_yaw_rads)"/>
    </include>

    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>-->

    <rosparam command="load"
              file="$(find topnav_bot_description)/config/joints.yaml"
              ns="capo_joint_state_controller"/>
    <rosparam command="load"
              file="$(find topnav_bot_description)/config/diffdrive.yaml"
              ns="capo_diff_drive_controller"/>
    <rosparam command="load"
              file="$(find topnav_bot_description)/config/head.yaml"
              ns="capo_head_rotation_controller"/>

    <node name="capo_laser_scan_transceiver" pkg="topnav_gazebo" type="capo_laser_scan_transceiver"/>

    <node name="topnav_config_node" pkg="topnav_config" type="topnav_config_node"/>

    <node pkg="image_view" type="image_view" name="latency_image_view" args="image:=/capo/camera1_real/image_raw"  if="$(arg use_real_camera)"/>

    <node name="capo2_clock"
          pkg="topnav_capo2"
          type="capo2_clock.py"
          respawn="false" output="screen">
        <param name="clock_publish_rate_hz" value="10"/>
    </node>

    <!-- At most one option  -->
    <!--<include file="$(find topnav_gazebo)/launch/capo_joints_controllers_pilot.launch"/>-->
    <!--<include file="$(find topnav_gazebo)/launch/capo_joints_controllers_nav.launch"/>-->
</launch>
