<launch>
    <group ns="converter">
        <node name="laser_scan_converter" pkg="topnav_gazebo" type="laser_scan_converter"/>
        <node name="aruco_detector" pkg="topnav_aruco_detection" type="aruco_detector"/>
    </group>

    <group ns="capo">
        <node name="ticker"
              pkg="topnav_capo2"
              type="capo2_ticker.py"
              respawn="false" output="screen">
            <param name="ticker_publish_rate_hz" value="10"/>
        </node>
    </group>
</launch>
