<launch>
    <group ns="converter">
        <node name="laser_scan_converter" pkg="topnav_gazebo" type="laser_scan_converter"/>
    </group>
    <include file="$(find topnav_capo2)/launch/aruco_detector.launch">
        <arg name="visualize" value="true"/>
        <arg name="print_distance" value="false"/>
    </include>

    <group ns="capo">
        <node name="ticker"
              pkg="topnav_capo2"
              type="capo2_ticker.py"
              respawn="false" output="screen">
            <param name="ticker_publish_rate_hz" value="10"/>
        </node>
    </group>
</launch>
