<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find topnav_gazebo)/launch/capo.launch">
    <arg name="world" value="$(find topnav_gazebo)/worlds/topnav_01_test.world"/>
    <arg name="model" value="$(find topnav_bot_description)/urdf/capo2/capo2.urdf.xacro" />
    <arg name="capo_x" value="1.0"/>
    <arg name="capo_y" value="-4.0"/>
    <arg name="capo_z" value="0.2"/>
    <arg name="capo_yaw_rads" value="1.57"/>
  </include>

  <group ns="converter">
    <node name="aruco_detector" pkg="topnav_aruco_detection" type="aruco_detector"/>
  </group>

  <!-- At most one option  -->
  <!--<include file="$(find topnav_gazebo)/launch/capo_joints_controllers_pilot.launch"/>-->
  <include file="$(find topnav_gazebo)/launch/capo_joints_controllers_nav.launch"/>
</launch>
