<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find topnav_gazebo)/launch/capo.launch">
    <arg name="world" value="$(find topnav_gazebo)/worlds/topnav_02_hough_wall_test.world"/>
    <arg name="model" value="$(find topnav_bot_description)/urdf/capo/capo.urdf.xacro" />
  </include>

  <!-- At most one option  -->
  <!--<include file="$(find topnav_gazebo)/launch/capo_joints_controllers_pilot.launch"/>-->
  <include file="$(find topnav_gazebo)/launch/capo_joints_controllers_nav.launch"/>

  <node name="hough_lines_preview" pkg="topnav_charts" type="lines_preview"/>

</launch>
