<?xml version="1.0" encoding="UTF-8"?>
<!-- ArUco detection / steering with the remote control -->
<launch>
  <include file="$(find topnav_gazebo)/launch/capo.launch">
    <arg name="world" value="$(find topnav_gazebo)/worlds/topnav_03_aruco_test.world"/>
    <arg name="model" value="$(find topnav_bot_description)/urdf/capo2/capo2.urdf.xacro" />
  </include>

  <include file="$(find topnav_capo2)/launch/aruco_detector.launch">
    <arg name="visualize" value="true"/>
    <arg name="print_distance" value="true"/>
  </include>

  <!-- At most one option  -->
  <include file="$(find topnav_gazebo)/launch/capo_joints_controllers_pilot.launch"/>
  <!--<include file="$(find topnav_gazebo)/launch/capo_joints_controllers_nav.launch"/>-->
</launch>
