<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find topnav_gazebo)/launch/capo.launch">
    <arg name="world" value="$(find topnav_gazebo)/worlds/topnav_02_hough_wall_test.world"/>
    <arg name="model" value="$(find topnav_bot_description)/urdf/capo/capo.urdf.xacro" />
  </include>

</launch>
