<?xml version="1.0"?>

<model>
  <name>ArUco 056/255</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Optional: Tomasz Kasprzyk</name>
    <email>Optional: kasptom@gmail.com</email>
  </author>

  <description>
    The model of the 56th of 255 ArUco codes from the DICT_6X6_250 codes dictionary
  </description>

</model>