<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find topnav_bot_description)/urdf/capo.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find topnav_bot_description)/rviz/urdf.rviz"/>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find topnav_bot_description)/urdf/capo.launch'"/>
</launch>
